
.counter-section  {
  background: linear-gradient(rgba(146, 39, 143, .8),rgba(146, 39, 143, .8)),url(./../../assets/img/achievements-bg.jpg);
  background-size: cover;
  padding: 70px 0px;
  position: relative;
  color: white;
 
}
.counter-section::before {
  content: '';
  background: url(./../../assets/img/section_triangle_top.png) repeat-x;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 99;
}
.counter-section::after {
  content: '';
  background: url(./../../assets/img/section_triangle_bottom.png) repeat-x;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 99;
}

.counter-box {
  padding: 20px 10px;
}

.counter-box .icon {
  color: #fff;
}

.counter-box h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.counter-box p {
  font-size: 16px;
  color: #fff;
  opacity: 0.9;
}
