.contact-page {
  background-color: #fff;
}

/* LEFT SIDE BOX */
.contact-box {
  position: relative;
  padding-left: 60px;
}

.icon-wrap {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.contact-title {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 20px;
}

/* RIGHT SIDE FORM */
.form-input {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding-left: 0;
  padding-bottom: 10px;
  font-size: 16px;
}

.form-input:focus {
  box-shadow: none;
  border-bottom: 2px solid #8c2ce0;
}

.send-btn {
  background-color: #8c2ce0;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.send-btn:hover {
  background-color: #6c1fb1;
}
.map-area {
  margin-top: 40px;
  width: 100%;
}

.map-area iframe {
  width: 100%;
  height: 400px; /* Change height if needed */
  border: 0;
}
#map-site::before{
 content: '';
  background: url(./../assets/img/section_triangle_top.png) repeat-x;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 99;
}

