.footer-area {
  background-color: #fff;
  background-image: url('./../assets/img/footer-bg.jpg');
  
}

.footer-logo {
 
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}

.footer-area p {
  font-size: 15px;
  line-height: 1.6;
  color:#707070;
}

.social-icons {

  margin-top: 15px;
  list-style: none;
  padding:0;
}

.social-icons li a {
  
  font-size: 18px;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: all 0.3s ease;
  color:black;
}

.social-icons li a:hover {
  background: #ea512e;
  color: #fff;
}

.single-footer-widget h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.footer-contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact-info li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 10px;
}

.footer-icon {
  color: #ea512e;
  font-size: 20px;
  flex-shrink: 0;
}

.footer-contact-info span {
  display: block;
  font-weight: 600;
  color: #fff;
}

.footer-contact-info a {
  color: #ddd;
  text-decoration: none;
}

.footer-contact-info a:hover {
  color: #ea512e;
}

.quick-links {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin-bottom: 8px;
}

.quick-links a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.quick-links a:hover {
  color: #ea512e;
}

.photo-gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  list-style: none;
  padding: 0;
}

.gallery-box img {
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
}

.gallery-box img:hover {
  transform: scale(1.05);
}

/* COPYRIGHT */
/* COPYRIGHT AREA */
.footer-bottom {
  border-top: 1px solid #e8e8e8;
  padding: 18px 0;
  background-color: #ece4e4;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
  color: #555;
  font-size: 15px;
}

/* SOCIAL ICONS */
.footer-social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  margin-left: 10px;

  font-size: 15px;
  color: white;

  border: 1px solid #ddd;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.footer-social-icons a:hover {

  color: black;
  border-color: grey;
}

/* Mobile Center Alignment */
@media (max-width: 576px) {
  .footer-bottom-inner {
    flex-direction: column;
    gap: 12px;
  }

  .footer-social-icons a {
    margin-left: 6px;
  }
}

.scroll-top {
  position: fixed;
  bottom: 50px;
  right: 25px;
  background-color: #8c2ce0;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  align-items: center;
  transition: 0.3s;
}

.scroll-top:hover {
  background-color: #6f16d0;
}