#page-banner {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}

#page-banner::before {
  content: '';
  background: url(./../assets/img/section_triangle_top.png) repeat-x;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 99;
}
#page-banner::after {
  content: '';
  background: url(./../assets/img/section_triangle_bottom.png) repeat-x;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 99;
}



#page-banner h1,
#page-banner p {
  position: relative;
  z-index: 2;
}
